*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}
header{
    background-color: chocolate;
    line-height: 50px;
    /* position: fixed; */
    /* width: 100%; */
    /* margin: 1px; */
}
header h1 a {
    color:orange;
    text-decoration:none;
}
.content p {
    line-height: 23px;
}
.content {
    margin: 25px 0;
    text-align: justify;
    width: 600px;
}
.center{
    display: block;
    margin: 0 30%;
}
.post{
    margin: 30px 29%;
    text-align: justify;
    width: 750px;
}
.post p {
    line-height: 24px;
}